.table {
    -fx-font-family: "Georgia", serif; /* Cambia por la fuente que prefieras */
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-color: #ff8e9c;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 4, 4);
    -fx-alignment: center;
}

.botonBlanco {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #ffffff);
    -fx-background-radius: 20px;
    -fx-text-fill: #000000;
    -fx-font-family: "Georgia", serif;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.3, 2, 2);
    -fx-border-radius: 20px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}


.funTxt{
    -fx-font-family: "Comic Sans MS", "Chalkduster", cursive; /* Fuentes divertidas */
    -fx-font-size: 20px;
    -fx-text-fill: #000000; /* Color divertido (tomate) */
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 2, 2);
    -fx-padding: 10px;
    -fx-background-radius: 15px;
    -fx-alignment: center;

}

.funTxto{
    -fx-font-family: "Comic Sans MS", "Chalkduster", cursive; /* Fuentes divertidas */
    -fx-font-size: 20px;
    -fx-text-fill: #ff7373; /* Color divertido (tomate) */
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 2, 2);
    -fx-padding: 10px;
    -fx-background-radius: 15px;
    -fx-alignment: center;

}



